{% extends 'base.html' %}

{% block head %} 
    <title>Usuarios</title>
{% endblock %}

{% block body %}
    <p>
    <p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
            </tr>
      </thead>
      <tbody>
        <tr>
          

        </tr>
      </tbody>
    </table>
{% endblock %}



<!-- <td>{{ users['name'] }}</td>
          <td>
              {%for user in data_users%}
                  <a href="/users/{{ user['id'] }}">{{ user['name'] }}</a>
                  <br>
              {%endfor%}
        </td> -->